body{
margin: 0;  
}
ul{
    list-style: none;
    padding: 0;
}
nav{
    background-color: #161616;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}
h1, p{
    color: #fff;
}
nav, ul{
    display: flex;
    flex-direction:row;
}
h1{
    margin: 0;
    padding: 10px;
}
li{
    padding: 0 20px;
}
button{
   background-color: transparent; 
   border: none;
   color: #fff;
   font-size: 36px;
   position: absolute;
   right: 10px;
   top: 10px;
   display: none;
}
li:hover, h1:hover{
    cursor:pointer;
    opacity: 0 8;
    background-color: rgba(255, 255, 255, 0.2);
}
